.icon24
{
  font-size: 24px;
}

@media only screen and (min-width: 600px) {
  .buttons {
      display: none;
  }
  .mappa
  {
      overflow: hidden;
      max-height: 100%;
      max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .mappa
  {
      overflow: scroll;
      max-height: 25vh;
      max-width: 100vw;
  }
}
.buttons
{
  
  position: relative;
  z-index: 3;
}
.reactive
{
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}